/* GLOBAL TAGS */
  body {
    background-color: #d8d2c3;
  }
  p {
    color: #171718;
  }
  span {
    color: #c87e74;
  }
/* CLASS DEFINITIONS */
  .alphas {
    color: #d8d2c3;
  }
  .mods {
    color: #aca693;
  }
  .green {
    color: #768e72;
  }
  .red{
    color: #c87e74;
  }
  .legends {
    color: #171718;
  }
