/*
GMK Metropolis Colors
dark blue: #091F2C
Cyan: #3CDBC0
yellow: #F1BE48
Red: #E03C31
Legends: CR -> #171718
*/

/*Variable Declaration*/
:root{
  --variation: #F1BE48;
  --lightbase: #091F2C;
  --accent: #E03C31;
  --text1: #3CDBC0;

  /* NAV Layout */
  --navborder: 15px;
  --navwidth: 300px; /*The total width of the inside of the navbar*/
  --navtotal: 315px; /* to position other objects left of the nav */

  --pfpmargin: 15px;
  --pfpwidth: 240px; /*navwidth-2navborder-2pfpmargin  border needs to fit within content*/
}

/*Global*/
*{
  margin: 0; /*maximize space usage of the whole page*/
}

*:focus{
  outline: var(--accent) solid thin;
}

p {
  color: var(--text1);
}

body {
  background-color: var(--lightbase);
}

/* Link Styling */
a:visited, a:link{
  color: var(--text1);
  text-decoration: none;
}

/*Nav Bar*/
#pfp{
  border: var(--navborder) solid var(--accent);
  border-radius: 1129px;
  width: var(--pfpwidth);
  height: auto;
  margin-left: var(--pfpmargin);
  margin-right: var(--pfpmargin);
  margin-top: var(--pfpmargin);
  margin-bottom: var(--pfpmargin);
}

#leftbar{
  position: fixed;
  height: 100%;
  width: var(--navwidth);
  background: var(--lightbase);
  border-right: var(--navborder) solid var(--variation);
  padding: 0px;
}

nav ul{
  list-style: none; /*Rule to remove bullets from nav bar links*/
  padding: 0px;
}

nav ul li{
  padding-right: 30px;
  text-align: right;
  color: var(--text1);
}

nav a:hover{
  background-color: var(--accent);
  width: 100%;
}

.Nav_selected{
/*For the currently selected nav link*/
background: var(--variation);
color: var(--lightbase);
}

/*Heading*/
#pagetitle{
  position: fixed;
  margin-left: var(--navtotal);
  padding-left: 25px;
  border-bottom: var(--navborder) solid var(--variation);
  width: 100%;
  }

#pageheading{
  font-size: 8em;
  font-family: Verdana, sa`ns-serif;
}
/*Main Content*/
